* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
h1 {
    font-size: 65px;
}
#new-book-btn {
    display: flex;
    font-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    color: rgb(247, 241, 214);
    border: none;
    justify-content: center;
    align-items: center;
}
#new-book-btn:hover {
    background-color: rgb(0, 167, 0);
}

#form-container {
    border: solid green 2px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(247, 241, 214); 
}

.show {
    display: flex !important;
}
#submit, #checkbox {
    align-self: flex-end;
}

#table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    width: 1310px;
}

.card {
    border: solid black 3px;
    height: 250px;
    width: 250px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(223, 196, 196);
}

.card p {
    color: black;
    padding-left: 10px;
}

.read {
    background-color: rgb(154, 197, 154);
}

.btn {
    align-self: flex-end;
    margin-right: 10px;
}

.delete {
   font-size: 10px;
   height: 15px;
   width: 15px;
}